
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-container{
    display: flex;
    padding: 20px;
    background: yellowgreen;
    flex-direction: column;
    /* flex-direction: column-reverse; */   
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.flex-item3{
    flex-grow: 1;
}
.flex-item1{
    flex-shrink: 0;
}