
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-container{
    display: flex;
    padding: 20px;
    background: yellowgreen;
    /* flex-direction: column; */
    flex-direction: column-reverse;   
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* justify-content: center; */
    
    width: 600px;
}

.flex-item{
    display: flex;
    padding: 10px;
    flex-direction: row;  
    width: 5%;
    /* 
    flex-wrap: wrap;
    display: flex;
    width: 200px; */ 
}
 .item1{
    /* flex-shrink: 0; */
    /* align-self: center; */
    border: 1px solid black;
    padding: 10px;
}


.item2{
    flex-shrink: 0;
    /* flex-basis: 150px; */
    /* align-self: flex-start; */
    border: 1px solid black;
    padding: 10px;
}

.item3{
    /* flex-grow: 1; */
    /* flex-shrink: 0; */
    border: 1px solid black;
    padding: 10px;
}

.grid-container{
    display: grid;
    background: rgb(113, 113, 238);
    padding: 20px;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto ;
    /* justify-content: center; */
    /* align-items: center; */
}

.grid-container > div{
    background-color: antiquewhite;
    text-align: center;
    border: 1px solid black;
}
 

.grid_container{
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    border: 5px solid rebeccapurple;
    padding: 20px;
     grid-template-columns: auto auto auto auto;
     grid-template-rows: auto auto auto auto;
    
}

.grid_container > div{
    width: 35px;
    padding: 15px;
    border: 1px solid black;
    margin: 3px;
    text-align: center;
}

body{
    background-color: yellow;
}
@media only screen  and (max-width:768px){
     body{
        background-color: blue;
     }
}

@media only screen  and (max-width:600px) {
    body{
        background-color: orange;
    }    

}

@media only screen  and (max-width:600px) { 

    .flex-container{
        width: 50%;
    }

}


@media only screen  and (max-width:600px) { 

    .item{
        width: 70px;
    }
}



.fullsceen{
    width: 100vw;
    height: 100vh;
}

.uno-quatro{
    grid-row: span 2;
}

.otto-nove{
    grid-column: span 2;
}